{% extends "base.html" %}

 {% block content %}

        <section class="page-section" id="services">
            <div class="container border" style="margin-top:2em">
                
                <div class="row p-3 text-center">
                    <div class="col-md-3 border">
                        
                        <h4 class="my-3 mt-4">Members</h4>
                        <p>Total Members : <strong>{{ totalMembers }}</strong></p>
                        <p class="text-muted"><a href='/members'>View</a></p>
                     </div>
                     <div class="col-md-3 border">
                        
                        <h4 class="my-3 mt-4">Categories</h4>
                        <p>Total Members : <strong>{{ totalCategory }}</strong></p>
                        <p class="text-muted"><a href=''>View</a></p>
                     </div>
                     <div class="col-md-3 border">
                        
                        <h4 class="my-3 mt-4">Courses</h4>
                        <p>Total Members : <strong>{{ totalCourses }}</strong></p>
                        <p class="text-muted"><a href=''>View</a></p>
                     </div>
                     <div class="col-md-3 border">
                        
                        <h4 class="my-3 mt-4">Blogs</h4>
                        <p>Total Members : <strong>{{ totalBlogs }}</strong></p>
                        <p class="text-muted"><a href=''>View</a></p>
                     </div>
                    
                </div>
            </div>
        </section>
       

{% endblock content %}